html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */

}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */

  margin: 0 auto -60px;
  /* Pad bottom by footer height */

  padding: 0 0 60px;
}
#wrap .content-container {
  padding: 60px 15px 0;
}
/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}
#footer .container .credit {
  margin: 20px 0;
}
.f-ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.f-cursor-hand {
  cursor: pointer;
}
.screen-home .centered {
  margin: 0 auto;
  float: none;
}
